       html {
           -webkit-text-size-adjust: 100%;
           -ms-text-size-adjust: 100%;
       }

       * {
           -moz-box-sizing: border-box;
           -webkit-box-sizing: border-box;
           box-sizing: border-box;
           margin: 0;
       }

       /* grid rule */
       .small-12 {
           width: 100%;
       }

       @media only screen and (min-width: 768px) {

           .medium-6 {
               width: 50%;
           }

           .medium-4 {
               width: 33.333%;
               margin: 0;
               border: none;
           }

           nav button {
               display: none;
           }

           /*--hides the hamburger button at medium sized width --*/

           nav ul {
               display: flex;
           }

           nav li {
               width: 25%;

           }

           footer>.row {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
           }

           main>.row {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
           }

       }

       @media only screen and (min-width: 1024px) {
           .large-3 {
               width: 25%
           }

           nav>ul {
               margin-left: 2vw;
           }

           nav li {
               width: auto;
               margin: 0 10px;
           }

           nav a {
               padding: 1rem 1.25rem;
           }

       }

       /*header rules*/

       header {
           background-color: #000080;
           display: flex;
           flex-direction: row;
       }

       header h1 {
           letter-spacing: -.5px;
           font-size: 2rem;
           padding: 0;
           margin: 1vw 0 0 2vw;
       }

       header h1,
       h2 {
           color: #13b3e4;
           font-style: bold;
           text-shadow: 1px 1px white;
           border: none;
       }

       header h2,
       h1 {
           padding: 0 0 10px 0;
           margin: 0 0 0 2vw;
       }

       header .column {
           display: flex;
           flex-direction: column;
           margin: auto;
       }

       main h1 {
           color: #000080;
       }

       button#hamburgerNav {
           background: none;
           border: none;
           color: white;
           font-size: 32px;
           cursor: pointer;
           padding: 0 30px 0 2vw;
       }

       nav {
           background-color: #13b3e4;
           display: flex;
           flex-wrap: wrap;
           flex-direction: row;
           justify-content: space-between;

       }

       /*nav*/
       ul {
           margin: 0;
           padding: 0;
       }

       /*nav*/
       ul li {
           list-style-type: none;
           margin: 0 10px;
       }

       nav a {
           color: white;
           text-decoration: none;
       }

       nav li.active {
           background-color: rgba(0, 0, 0, 0.25);
       }

       nav a:hover {
           background-color: rgba(0, 0, 0, 0.1);
       }

       nav ul.open {
           display: block;
       }

       ul {
           display: none;
       }

       main>.row {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
       }

       .estimate {
           display: flex;
           flex-direction: column;
           width: 75%;
           align-items: center;
           margin: auto;

       }

       .thankyou {
           display: flex;
           flex-direction: column;
           width: 70%;
           align-items: center;
           margin: auto;
           flex-wrap: wrap;
       }

       .thankYouImage {
           width: 20%;
           align-items: center;
       }

       .thankyou>img {
           padding: 20px 0 20px 0;
           width: 80%;
           height: auto;
           max-width: 500px;
       }
      

       img {
           width: 100%;
           height: auto;
           padding: 0;
       }

       .estimate h1 {
           color: #000080;
           text-shadow: 1px 2px #13b3e4;
           text-align: center;
       }

       form {
           border-style: solid;
           border-radius: 10px;
           border-color: #000080;
           background-color: #aee0f0;
           margin: auto;
           width: 100%;
           max-width: 30rem;
       }

       .estimateDetails {
           width: 100%;
       }

       span {
           font-style: italic;
       }

       label {
           display: block;
           width: 100%;
           padding: 1rem 1rem;
       }

       input,
       textarea {
           border-style: solid;
           border-radius: 10px;
       }

       span {
           font-size: .75rem;
           color: black;
       }

       input,
       textarea {
           display: flex;
           font-size: 1 rem;
           padding: .75rem;
           background-color: #F6F6F6;
           border: 1px solid #bbb;
           margin-top: .2rem;
           width: 100%;

       }

       textarea {
           min-height: 10rem;
       }

       label {
           padding: 0 10px 10px 10px;
           margin: none;
       }

       #getName {
           padding: 10px;
       }

       .submitBtn {
           border: 1px solid #000080;

           width: 150px;
           height: 30px;
           margin: auto;
           justify-content: center;
           border-radius: 25px;
       }

       input[value="Request My Estimate"] {
           margin: auto;
           color: white;
           font-style: bold;
           background-color: #000080;
           padding: 0;
       }

       .button {
           padding: 10px 0 10px 0;
           background: white;
       }

       #message {
           padding: 15px;
       }

       .thankyou {
           padding: 0 0 10px 0;
       }

       footer {
           background-color: #000080;
           font-size: 1rem;
           color: white;
           height: 100%;
       }

       footer h2 {
           text-transform: uppercase;
           margin: 0;
           border: 0;
           padding: 1vw 0 .5vw 0;
       }

       footer>.row {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           border: none;
           row-gap: 1rem;
           padding: 0 0 1vw 0;
       }

       footer p {
           margin: 2px;
           padding: 0;
           border: 0;
       }

       .footerOption {
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           align-content: flex-start;
           padding: 0rem 2rem;
           margin: 0;
       }

       .bottomTrim {
           display: flex;
           height: 12px;
           background-color: #13b3e4;
       }