       
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/* grid rule */
.row {clear: both;} /*each row should stay below the content above it*/

.column{float: left; margin: 0 0 .75rem 0; display:inline;} /*this makes them actual columns*/

.small-12{width:100%;}

/*header rules*/

header {
    background-color:red;
}
header h1 {
    margin: 0;
    color: white;
    font-size: 2rem;
    font-style: bold;
}

main h1{color:black;}

footer {
    background-color: red;
    font-size: 1rem;
    font-style: italic;
    color: white;
}

footer h2 {
   text-transform: uppercase;
   text-align: center;
   margin: 1rem 0 .3rem 0;
}

.preventcollapse:after {
   content: "";
   display: table;
   clear: both;

}

button#hamburgerNav {
   background: none;
   border: none;
   color: white;
   font-size: 32px;
   cursor: pointer;
   padding: 0 30px 0 2vw;
}
nav {
   background-color: grey;
}
nav ul {margin: 0; padding: 0;}
nav ul li{list-style-type: none;}
nav a{
   display: block;
   padding: 12px;
   color: white;
   text-decoration: none;

}
nav li.active {background-color: rgba(0,0,0,0.75);}
nav a:hover{background-color: rgba(0,0,0,0.5);}
nav ul.open{display: block;}
nav ul {display: none;}