form {
    margin: 1rem $gutter;

    label {
        display: flex;
        flex-direction: column;
        padding: .75rem 0;

        span{
            font-size: .75rem;
            color: black;
        }//end span
        input, textarea {
            display: block;
            font-size: 1 rem;
            padding: .75rem;
            background-color: #F6F6F6;
            
        }
    }

    //end label

}

//end form